
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model ItemsListViewModel
<div class="bgded overlay" style="background-image:url('/image/events.jpg');">
    <section id="breadcrumb" class="hoc clear">
        <i class="fas fa-diamond fa-3x"></i>
        <h6 class="heading">Event Details</h6>
    </section>
</div>

<div class="wrapper row3">
    <main class="hoc container clear">

    </main>
</div>