
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ItemsListViewModel
<<div class="bgded overlay" style="background-image:url('/image/pozadina.jpg');">
    <section id="breadcrumb" class="hoc clear">
        <i class="fa fa fa-address-book fa-3x"></i>
        <h6 class="heading">About Us</h6>
    </section>
</div>

<div class="wrapper row3">
    <main class="hoc container clear">

         <div class="card">
             <div class="card-body">
                 <article>
                     <div style="font:bold; color:#ffa41c"> WE APPRECIATE YOUR INTEREST IN OUR GLOBAL MISSION OF HELPING OTHER PEOPLE.</div>
                    <br>
                     <div> You can contatc us on <i>(026) 650 075</i></div>
                     <div> Address: Studentski trg 16</div>
                 </article>

                 <br />
                 <article>
                     Team members: Nikola Stojevic, Jovan Dmitrovic, Kristina Stanojevic
                 </article>
                 <br />
             </div>
         </div>
         <br/>
        

    </main>
</div>