@{
    ViewData["Title"] = "Home Page";
}

<div class="bgded" style="background-image:url('/Image/donate.jpg');">
    <div id="pageintro" class="hoc clear">
        <article>
            <h3 class="heading">Spotlight - make a donation!</h3>
            <p>A joy that's shared is a joy made double.</p>
            <footer><a class="btn" href="Event/EHome/Index">View events</a></footer>
        </article>
    </div>
</div>