
@{
    ViewData["Title"] = "Listing";
}

@model IEnumerable<Listing>

<button class="btn btn-outline-primary" id="newPostButton" data-toggle="modal" data-target="#newPostModal">Add a listing</button>

<div id="newPostModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Post</h4>
            </div>

            <div class="modal-body">
                <partial name="_AddNewPost" model="@new Listing()" />
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<h1 class="display-3">Active Listings</h1>

@foreach (var n in Model)
{
    <div>
        @if (n.TimeOfPosting.HasValue)
        {
            <a class="mb-1 text-muted">@n.TimeOfPosting.Value.ToString("MMMM d, yyyy")</a>
        }
        <h2 class="display-4">@n.PostHeadline</h2>
        <div>@n.PostContent</div>
    </div>
}

