
@model EditModel
<div class="bgded overlay" style="background-image:url('/image/pozadina.jpg');">
    <section id="breadcrumb" class="hoc clear">
        <i class="fas fa-edit fa-3x"></i>
        <h6 class="heading">Edit profile</h6>
    </section>
</div>

<div class="wrapper row3">
    <main class="hoc container clear">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-controller="IdAccount" asp-action="Edit" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <div class="input-group" id="show_hide_password">
                    <input name="password" class="form-control" type="password">
                    <div class="input-group-addon">
                        <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <img id="profilnaSlika" src="@((Model.ImageName != null)?("~/image/"+Model.ImageName):("~/image/user-icon.png"))" asp-append-version="true" style="width:100px">
            </div>
            <div class="form-group">
                <label asp-for="ImageFile"></label>
                <div><span asp-validation-for="ImageFile" class="text-danger"></span></div>
                <input asp-for="ImageFile" accept="image/*" />
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    </main>
</div>