@model Spotlight.Models.Identity.LoginModel
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="bg-primary m-1 p-1 text-white"><h4>Log In</h4></div>
        <div class="text-center"><i class="fas fa-user-circle fa-3x"></i></div>
        <div class="text-danger" asp-validation-summary="All"></div>
        <form asp-controller="IdAccount" asp-action="Login" method="post">
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
            </div>        
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <div class="input-group" id="show_hide_password">
                    <input asp-for="Password" name="password" class="form-control" type="password">
                    <div class="input-group-addon">
                        <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Log In</button>
        </form>
    </div>
</div>