@model NewsPost

<form asp-controller="Home" asp-action="AddNewPost" method="post">
    <div class="form-group" >
        <input class="form-control" id="postHeadline" placeholder="Your Headline" asp-for="PostHeadline">
    </div>

    <div class="form-group">
        <textarea class"form-control" id="postText" placeholder="Your Post" asp-for="PostContent"></textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg">Post</button>
    </div>
</form>