<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Spotlight</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link href="~/css/layout.css" rel="stylesheet" type="text/css" media="all">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>
    <div class="wrapper row0">
        <div id="topbar" class="hoc clear">
            <partial name="_LoginPartial.cshtml">
        </div>
    </div>

    <div class="wrapper row1">
        <header id="header" class="hoc clear">
            <section>
                <div></div>
                <img src="~/Image/SpotlightLogo.png" />
                <div></div>
            </section>
            <nav id="mainav">
                <ul class="clear">
                    <li class="active">
                        <a class="text-dark" asp-area="" asp-controller="Home" asp-action="Listings">Listings</a>
                    </li>
                    <li>
                        <a class="text-dark" asp-area="" asp-controller="Home" asp-action="News">News</a>
                    </li>
                    <li>
                        <a class="text-dark" asp-area="" asp-controller="Ehome" asp-action="Index">Events</a>
                    </li>
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="text-dark" asp-area="" asp-controller="IdHome" asp-action="Index">Group chat</a>
                        </li>
                    }
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="text-dark" asp-controller="EAdmin" asp-action="Index">My Events</a>
                        </li>
                    }
                    @if (this.User.IsInRole("Admins"))
                    {
                        <li class="nav-item">
                            <a class="drop text-dark">Admin</a>
                            <ul>
                                <li><a asp-controller="IdAdmin" asp-action="Index">Users</a></li>
                                <li><a asp-controller="RoleAdmin" asp-action="Index">Roles</a></li>
                            </ul>
                        </li>
                    }
                    <li>
                        <a class="text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">About us</a>
                    </li>
                </ul>
            </nav>

        </header>
    </div>


    @RenderBody()

    <footer id="footer" class="hoc clear">
        <div class="wrapper row5">
            <div id="copyright" class="hoc clear">
                &copy; 2020 - Spotlight - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.backtotop.js"></script>
    <script src="~/js/jquery.mobilemenu.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
