@using Microsoft.AspNetCore.Identity
@using Spotlight.Models.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="nospace">
    @if (SignInManager.IsSignedIn(User))
    {
        <li>
            <a asp-controller="Home" asp-action="Index"><i class="fa fa fa-home">  Home  </i></a>
        </li>
        <li>
            <a id="manage" asp-controller="IdAccount" asp-action="Edit" class="text-dark"> Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li>
            <a id="logout" asp-controller="IdAccount" asp-action="Logout"><i class="fa fa fa-sign-out">  Logout  </i></a>
        </li>
    }
    else
    {
        <li>
            <a asp-controller="Home" asp-action="Index"><i class="fa fa fa-home">  Home  </i></a>
        </li>
        <li>
            <a id="register" asp-controller="IdAccount" asp-action="Register"><i class="fa fa fa-user-plus">  Register  </i></a>
        </li>
        <li>
            <a id="login" asp-controller="IdAccount" asp-action="Login"><i class="fa fa fa-sign-in">  Login  </i></a>
        </li>
    }
</ul>